@import "tailwindcss";

@theme {
  --color-brand-red: #CC0000;
  --color-brand-yellow: #FFD400;
  --color-brand-blue: #1E6FBF;
  --color-background: #0A0F1D;
  --color-surface: #171f33;
}

body {
  background-color: var(--color-background);
  color: #ffffff;
}
